<article class="card">
	<a class="card-thumb" href="{{root}}main/works/blackjack/BlackJack.html" tabindex="-1" aria-hidden="true"><img src="{{root}}assets/img/works/blackjack.webp" width="960" height="600" loading="lazy" alt=""></a>
	<div class="card-body">
		<h3><a href="{{root}}main/works/blackjack/BlackJack.html">二十一點 <span lang="en">Blackjack</span></a></h3>
		<p>大學作業。純手刻的網頁版二十一點，有加倍、投降、分牌與賭金機制，另外藏了一個作弊模式。</p>
		<ul class="tags">
			<li class="tag">JavaScript</li>
			<li class="tag">HTML / CSS</li>
		</ul>
		<div class="card-links">
			<a href="{{root}}main/works/blackjack/BlackJack.html">試玩</a>
			<a href="{{root}}main/works/blackjack/cheat.html">作弊模式</a>
		</div>
	</div>
</article>
