<article class="card">
	<a class="card-thumb" href="https://www.glowscript.org/#/user/tyl161803/folder/MyPrograms/program/Newton'scradle" target="_blank" rel="noopener" tabindex="-1" aria-hidden="true"><img src="{{root}}assets/img/works/newtons-cradle.webp" width="960" height="600" loading="lazy" alt=""></a>
	<div class="card-body">
		<h3><a href="https://www.glowscript.org/#/user/tyl161803/folder/MyPrograms/program/Newton'scradle" target="_blank" rel="noopener">牛頓擺模擬</a></h3>
		<p>用 VPython 模擬牛頓擺的碰撞與動量傳遞，程式放在 GlowScript 網站上執行。</p>
		<ul class="tags">
			<li class="tag">VPython</li>
			<li class="tag">物理模擬</li>
		</ul>
		<div class="card-links">
			<a href="https://www.glowscript.org/#/user/tyl161803/folder/MyPrograms/program/Newton'scradle" target="_blank" rel="noopener">開啟模擬 ↗</a>
		</div>
	</div>
</article>
