<article class="card">
	<a class="card-thumb" href="{{root}}main/works/s-des.html" tabindex="-1" aria-hidden="true"><img src="{{root}}assets/img/works/s-des.webp" width="960" height="600" loading="lazy" alt=""></a>
	<div class="card-body">
		<h3><a href="{{root}}main/works/s-des.html">S-DES 加解密</a></h3>
		<p>網路安全導論的作業。實作簡化版 DES，並逐步列出金鑰產生與每一輪運算的中間結果。</p>
		<ul class="tags">
			<li class="tag">JavaScript</li>
			<li class="tag">密碼學</li>
		</ul>
		<div class="card-links">
			<a href="{{root}}main/works/s-des.html">使用</a>
		</div>
	</div>
</article>
