<article class="card">
	<a class="card-thumb" href="{{root}}main/works/gs-search.html" tabindex="-1" aria-hidden="true"><img src="{{root}}assets/img/works/gs-search.webp" width="960" height="600" loading="lazy" alt=""></a>
	<div class="card-body">
		<h3><a href="{{root}}main/works/gs-search.html">臺灣研究所資料檢索系統</a></h3>
		<p>資料庫課程的期末專題。沒有後端，直接把 Google 試算表當資料庫，查詢師資、學校、報考與論文資訊。</p>
		<ul class="tags">
			<li class="tag">JavaScript</li>
			<li class="tag">Google Sheets</li>
			<li class="tag">查詢語法</li>
		</ul>
		<div class="card-links">
			<a href="{{root}}main/works/gs-search.html">使用</a>
		</div>
	</div>
</article>
